antes.txt
antes_linebreak.txt
antes.txt
__pycache__/

adjandverb.txt
allcaps.py 
analysis.py
class_practice.py
class_practice2.py
coffeeclass.py
nltkch2.py
practice.py
salaspractice.py
textpractice.py
userclass.py
.DS_Store